@import "tailwindcss";
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #09090b;
  color: white;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #09090b;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  text-align: center;
}

/* Header Styles */
.header {
  background-color: linear-gradient(to right, #243447, #1e2d3b);
  padding: 200px;
  padding-bottom: 20px;
  padding-top: 20px;
  justify-content: center;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px 12px;
}

.search-box-small {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-left: -50px;
  border-radius: 8px;
  padding: 8px 12px;
}

.search-box .icon,
.search-box-small .icon {
  margin-right: 10px;
}

.search-box input,
.search-box-small input {
  background: transparent;
  border: none;
  color: #000000;
  outline: none;
  flex-grow: 1;
}

.search-box button,
.search-box-small button {
  background-color: #09090b;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  background: #09090b;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.4;
}

.underline {
  text-decoration: underline;
  font-size: 3.5rem;
}

/* Development Section */
.development {
  background-color: #09090b;
  padding: 0px 0px;
}

.development h2 {
  font-size: 2rem;
  margin-bottom: 0px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #222;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: left;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.card p {
  font-size: 0.9rem;
  color: #ccc;
}
